h1{
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}
p{
    font-size: 30px;
    width: 1000px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    font-family:'courier';
}
body {
    background-image: url('https://i.ytimg.com/vi/IyRWpmKG0ZU/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 1680px 860px;
}
footer {
    text-align: end;
}

 a:visited {
     color: deepskyblue;
     background-color: transparent;
     text-decoration: none;

 }
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
.terugpijl{
    position: absolute;
    width: 87px;
    height: 87px;
    top: 5vh;
    right: 5vh;
}
.dark-mode{
    background-image: url('https://t3.ftcdn.net/jpg/00/73/08/22/360_F_73082224_ay4Tus31QNHNmGSIty53ZE6mBrBc47cV.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1600px 760px;
    opacity: 60%;
    button{
        font-size: 20px;
        color: black;
        background-color: white;

    }
}
button{
    font-size: 20px;
    color: white;
    background-color: black;
}
