h1{
    display: inline-block;
    color: white;
    text-shadow: 2px 2px black;
}


main{
    padding:10px;
    height:1000px;
    width:1460px;
    color: white;
    text-shadow: 2px 2px black;

}

p{
    width:1325px;
    font-size: 40px;
    margin: 45px;
    text-shadow: 2px 2px black;
    color: white;
    text-align: center;


}

img{
    height:325px;
    width: 375px;

}

footer {
    text-align: end;
    color: white;

}
body {
    background-image: url('https://img.freepik.com/vrije-vector/neonframe-in-de-lucht_23-2149093203.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1560px 740px;
}
h3{
    Color:white;
    display: flex;
    justify-content:space-around;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
a:hover{
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

