* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('https://img.freepik.com/premium-photo/blue-binary-data-computer-screen-cyber-code-coding-communication-digital-cyberspace_817921-9215.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", serif;
}

header {
    background-color: midnightblue;
    min-height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

h1 {
    color: white;
    text-shadow: 2px 1px black;
    font-size: 42px;
    margin: 0;
}

.top-navbar {
    background-color: #15156b;
    padding: 20px 0;
    text-shadow: 2px 1px black;
}
.top-navbar .page-btn {
    text-decoration: none;
}
.top-navbar .page-btn {
    width: 200px;
    height: 60px;
}
.top-navbar .page-img img {
    width: 45px;
    height: 45px;
}
.top-navbar .page-text {
    font-size: 18px;
}
main {
    min-height: 1000px;
    width: 100%;
    padding: 50px 65px;
    color: white;
    text-shadow: 1px 0 black;
}

h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 35px;
    text-shadow: 2px 1px black;
}

p {
    max-width: 1050px;
    font-size: 38px;
    line-height: 1.35;
    color: white;
    text-shadow: 2px 1px black;
}
.about-preview {
    margin-top: 80px;
    margin-bottom: 80px;
}

.profile-card {
    min-height: 230px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35);
}

.profile-image-side {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-text-side {
    width: 55%;
    background-color: #0d6efd;
    color: white;
    padding: 35px 40px 35px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
}

.profile-text-side h2 {
    font-size: 32px;
    margin-bottom: 18px;
    margin-top: -15px;
    text-shadow: 2px 2px 3px black;
}

.profile-text-side p {
    font-size: 18px;
    margin: 0;
    text-shadow: 2px 2px 3px black;
}

.text-card {
    min-height: 260px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 3px black;
}
/* MOVING CARS */
#div1,
#div2,
#div3 {
    width: 100px;
    height: 120px;
    position: relative;
    animation: mymove 3257ms infinite linear;
}
#div1{
    animation-timing-function: ease-out;
}

#div2 {
    animation-timing-function: ease-in-out;
}

#div3 {
    animation-timing-function: ease-in;
}

@keyframes mymove {
    from {
        left: -17200px;
    }
    to {
        left: 200%;
    }
}
main nav ul {
    list-style-type: none;
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
}

main nav ul li a {
    padding: 0;
}

main nav img {
    width: 150px;
    height: 150px;
}

footer {
    background-color: midnightblue;
    color: white;
    min-height: 90px;
    width: 100%;
    font-size: 22px;
    padding: 30px 20px;
}
.page-btn {
    width: 190px;
    height: 60px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.page-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.page-img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.page-img img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

.page-text {
    width: 55%;
    height: 100%;
    background-color: #0d6efd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 2;

    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%);
}


.page-btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    transform: scale(1.04);
    transition: 0.2s;
}
.interview-btn .page-text {
    background-color: #0d6efd;
    color: white;
}

.overmij-btn .page-text {
    background-color: #ffc107;
    color: white;
}

.contact-btn .page-text {
    background-color: #198754;
    color: white;
}

.projecten-btn .page-text {
    background-color: #dc3545;
    color: white;
}
