* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('https://img.freepik.com/premium-photo/blue-binary-data-computer-screen-cyber-code-coding-communication-digital-cyberspace_817921-9215.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", serif;
}

/* HEADER */
header {
    background-color: midnightblue;
    min-height: 120px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

h1 {
    color: white;
    text-shadow: 2px 1px black;
    font-size: 42px;
    margin: 0;
}

/* TOP NAVIGATION */
.topnav {
    background-color: midnightblue;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 200px;
    text-shadow: 1px 0px black;
}

.topnav li {
    margin: 0;
    padding: 0;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    display: block;
    text-shadow: 1px 0 black;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-shadow: 1px 0 white;
}

/* MAIN */
main {
    min-height: 1000px;
    width: 100%;
    padding: 50px 65px;
    color: white;
    text-shadow: 1px 0px black;
}

h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 35px;
    text-shadow: 2px 1px black;
}

p {
    max-width: 1050px;
    font-size: 38px;
    line-height: 1.35;
    color: white;
    text-shadow: 2px 1px black;
}

/* MOVING CARS */
#div1,
#div2,
#div3 {
    width: 100px;
    height: 120px;
    position: relative;
    animation: mymove 3257ms infinite linear;
}

#div2 {
    animation-timing-function: ease-in-out;
}

#div3 {
    animation-timing-function: ease-in;
}

@keyframes mymove {
    from {
        left: -17200px;
    }
    to {
        left: 200%;
    }
}

/* ICON NAVIGATION LOWER ON PAGE */
main nav ul {
    list-style-type: none;
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
}

main nav ul li a {
    padding: 0;
}

main nav img {
    width: 150px;
    height: 150px;
}

/* FOOTER */
footer {
    background-color: midnightblue;
    color: white;
    min-height: 90px;
    width: 100%;
    font-size: 22px;
    padding: 30px 20px;
}